spec/support/data/ikre/xsd/IkreMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:cz:isvs:cssz:schemas:IkreMessages:v1" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:ikrbt="urn:cz:isvs:cssz:schemas:IkrBaseTypes:v1" 
           xmlns:ikrmsg="urn:cz:isvs:cssz:schemas:IkrMessageTypes:v1" 
           targetNamespace="urn:cz:isvs:cssz:schemas:IkreMessages:v1" 
           elementFormDefault="qualified" 
           version="6.5.0">
    <xs:annotation>
        <xs:documentation xml:lang="cs">
            XML schéma pro externí požadavky a odpovědi v systému ČSSZ IKR.
            <p/>
            Verze 1.0.0,  10.01.2013 - počáteční návrh (Petr Obořil).
            Verze 1.1.0,  29.03.2013 - přidán kód služby IkreVratPojistence.                        
            Verze 1.2.0,  16.04.2013 - změněna hlavička požadavků a odpovědí (dopad na všechny služby).
            Verze 1.2.1,  09.07.2013 - změněn datový typ pro KodSluzby (enumerátor byl nahrazen řetězcem obsahující max. 50 znaků).
                          10.07.2013 - do hlavičky odpovědi IKRE služeb byl přidán povinný element JednotneEvidencniCislo.
            Verze 1.2.2,  19.08.2013 - přidán kód služby IkreVyhledejPojistence.                        
            Verze 1.2.3,  22.08.2013 - přidány kódy služeb pro balík 2.                        
            Verze 1.2.4,  29.08.2013 - přidán kód služby IkreZobrazDetailELDP.                        
            Verze 1.2.5,  03.09.2013 - přidány kódy pro službu IkreVratZamestnavatele.                        
                          04.09.2013 - přidán kód služby IkreVratFiltrovanyCiselnik
                          09.09.2013 - přidány kódy služeb IkreZobrazZamestnavatele, IkreVyhledejZamestnavatele, IkreZobrazSeznamZamestnancu
            Verze 1.2.6,  10.09.2013 - přidány kódy pro službu IkreVyhledejUctarnu.                        
            Verze 1.2.7,  10.09.2013 - přidány abstraktní datové typy a hlavičky pro anonymní IKRE zprávy.
            Verze 1.2.8,  18.09.2013 - přidán nepovinný element JEČ do hlavičky pro anonymní IKRE zprávy.
            Verze 1.2.9,  08.10.2013 - přidány kódy služeb IkrePripravBezdluznostFO, IkrePripravBezdluznostPO, setřídění kódů služeb.
            Verze 1.2.10, 10.10.2013 - element PozadavekInfo je pro anonymní zprávy nepovinný.
                          21.10.2013 - přidány kódy služeb pro IkreVratOSSZDle...
            Verze 1.2.11, 23.10.2013 - opraveny kódy služeb IkreVratOSSZDle... (ID-->Id)
            Verze 1.2.12, 30.10.2013 - nová hlavička a požadavek pro IKRE žádosti - rozšiřuje normální hlavičku o nepovinný PozadavekId a JEČ.
                                     - požadavky a odpovědi mají společného předka.
            Verze 1.2.13, 04.11.2013 - přidány kódy služeb pro IkreVyplaceneDavkyProPojistence, IkrePripravPotvrzeniPN a IkreVratVysiDruhDuchodu.
                          11.11.2013 - přidány kódy služeb pro IkreZobrazPojistneVztahy, IkreZobrazDruhVyseND, IkreZobrazDobuPojisteni, 
                                       IkreZobrazVysiDruhDuchodu, IkreZobrazStavPohledavek, IkreZobrazInventuruOSVC, IkreZobrazDruhVyseNDPojistence,
                                       IkreZobrazVysiDruhDuchoduHromadne, IkreZobrazNarokDavkyPPM, IkrePripravVymerovaciZakladNP, IkrePripravBezdluznost,
                                       IkrePripravVymerovaciZakladDPOSVC a IkrePripravPosudekOZdravotnimStavu.
                          15.11.2013 - přidány kódy služeb pro ePodani a ISDSDatovaZprava. 
            Verze 1.2.14, 19.11.2013 - opraven kód služby IkreZobrazDruhVyseNDPojistence.
            Verze 1.2.15, 21.11.2013 - nový kód služby IkreChybaPrihlaseniIsds
            Verze 1.2.16  09.12.2013 - nové kódy služeb IkreVratOSSZPojistenceDUCH, IkreVratOSSZPojistenceNEM
            Verze 1.2.17  18.01.2014 - nový kód služby IkreZobrazStavPohledavekFO
            Verze 1.2.18  06.03.2014 - nový kód služby pozadavekISDS
            Verze 1.2.19  01.08.2014 - nový kód služeb IkreVratPrihlasenehoUzivatele, IkreVratAdresuPojistence a IkreVratAdresuZamestnavatele.
            Verze 1.2.20  12.02.2015 - nový kód služby IkreVratZamestnavateleDleVS
            Verze 1.2.21  12.02.2015 - nový kód služby IkreVratInfoOPojistenciESF
            Verze 1.2.22  15.02.2015 - nový kód služby IkreVratInfoOPojistencichESF
            Verze 1.2.23  21.05.2015 - nový kód služby IkreVratSrovnavaciInfoOPojistencichESF a IkreVytvorSrovnavaciInfoOPojistencichESF
            Verze 1.2.24  04.11.2015 - nový kód služeb IkreVratDuchodovyVek, IkreVratCiselnikDob, IkreVratDobyInformativnihoVypoctu, IkreVratInformativniVypocet
            Verze 2.0.0   01.12.2015 - nové kódy služeb IkreVratRegistraciDleTokenu, IkreZmenStavRegistrace
            Verze 2.0.1   03.03.2016 - nové kódy služeb IkreVratRegistraciDleId, IkreDokonciRegistraci, IkreDokonciResetHesla, IkreResetujHeslo
                                     - odstraněn kód služby IkreZmenStavRegistrace
                          23.03.2016 - nový kód služby IkreVratRegistraciDleIdPojistence
            Verze 2.0.2   14.04.2016 - nové kódy služeb IkrePosliEmailDokonciRegistraci, IkrePosliEmailObnovHeslo
            Verze 2.0.3   02.06.2016 - nové kódy služeb IkreVratOsobuDleId, IkreVratOsobuDleTokenu, IkreVratOsobuDleIdPojistence
                                     - odstraněny kódy služeb IkreVratRegistraciDleId, IkreVratRegistraciDleTokenu, IkreVratRegistraciDleIdPojistence
                          20.06.2016 - nové kódy služeb IkreAktivujUcet, IkreOverBezpecnostniKod
                                     - odstraněn kód služeby IkreDokonciRegistraci
                          22.06.2016 - nová služba IkreVratOsobuDleLoginu
            Verze 2.0.4   30.06.2016 - nové služby IkreVratStavPocitadelNP, IkreVynulujPocitadlaNP, IkreZvysPocitadloNP, IkreOdesliEmailAktivaceUctu, IkreOdesliEmailZablokovaniUctu
                                     - odstraněn kódy služeb IkreDokonciResetHesla, IkreResetujHeslo, IkrePosliEmailDokonciRegistraci, IkrePosliEmailObnovHeslo
            Verze 2.1.0   22.07.2016 - nový kód služby IkreVratOsobuDleDS
                          28.07.2016 - nový kód služby IkreVytvorOsobuDleDS  
            Verze 2.1.1   09.08.2016 - nové kódy služeb IkreVratOrganizaciDleId, IkreVratOrganizaciDleDS, IkreVytvorOrganizaciDleDS
            Verze 5.2.2   22.09.2016 - nové kódy služeb IkreAutentizujIdentitu, IkreZmenHeslo
                                     - nový kód služby IkreVratOsobuDleEid
                          10.10.2016 - nový kód služby IkreVytvorNeztotoznenouOsobu
                          25.10.2016 - nový kódy služeb IkreVytvorZadost
                          31.10.2016 - nové kódy služeb IkreOdesliEmailOverovaciKod, IkreOdesliEmailPrijetiZadosti, IkreOdesliEmailZamitnutiZadosti, IkreOdesliEmailVyrizeniZadosti 
            Verze 5.2.3   24.11.2016 - nový kód služby IkreVratOsobuDleEid
                          29.11.2016 - kodSluzby zvětšen na 100 znaků 
                          01.12.2016 - nový kód služby IkreZmenOsobu
            Verze 5.2.4   13.12.2016 - nový kód služby IkreOdesliEmailSablona
            Verze 5.4.0   30.01.2017 - odstraněny kódy služeb IkreOdesliEmailAktivaceUctu, IkreOdesliEmailZablokovaniUctu, IkreOdesliEmailEditaceIdentity,
                                       IkreOdesliEmailZruseniUctu, IkreOdesliEmailOverovaciKod, IkreOdesliEmailPrijetiZadosti, 
                                       IkreOdesliEmailZamitnutiZadosti, IkreOdesliEmailVyrizeniZadosti 
                                     - nový kód služby IkreCasOdhlasIdentitu
            Verze 5.5.1   31.03.2017 - nový kód služby IkreVyhledejPojistenceNeurcite
            Verze 5.6.0   30.05.2017 - datový typ IkrePozadavekHlavickaType rozšířen o ZastupovanyKlientInfo
                          01.06.2017 - 
                          12.06.2017 - přidána operace VratOrganizaciDleIdZamestnavatele
            Verze 6.0.0   13.06.2017 - nový kód služby IkrePripravFormularovePodani
            Verze 6.0.1   27.06.2017 - nové kódy služeb IkreVytvorOrganizaciDleEid, IkreVratOrganizaciDleEid
            Verze 6.2.0   26.07.2017 - nové kódy služeb IkreZrusPovereni, IkreZrusZastupovani, IkreZrusDelegovani, IkreZrusZmocneni 
            Verze 6.3.0   18.09.2017 - datový typ IkreAnonymniPozadavekHlavickaType rozšířen o nepovinný typ KlientInfo
            .                        - nový kód služby PortalovePodani
            Verze 6.5.0   17.10.2017 - IkreAnonymniOdpovedHlavickaType obsahuje nepovinný element KlientInfo 
                          24.10.2017 - nový kód služby ZobrazStavPohledavekHromadne, IkreZobrazStavPohledavekFOHromadne             
        </xs:documentation>
    </xs:annotation>
    <xs:import namespace="urn:cz:isvs:cssz:schemas:IkrBaseTypes:v1" schemaLocation="../../ikr/xsd/IkrBaseTypes.xsd"/>
    <xs:import namespace="urn:cz:isvs:cssz:schemas:IkrMessageTypes:v1" schemaLocation="../../ikr/xsd/IkrMessageTypes.xsd"/>
    <xs:complexType name="IkrePozadavekAbstractType" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Definice společné příchozí zprávy pro všechny IKRE požadavky, předek.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ikrmsg:IkrPozadavekAbstractType">
                <xs:sequence>
                    <xs:element name="PozadavekHlavicka" type="IkrePozadavekHlavickaType">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Definice hlavičky požadavku (příchozí zprávy).</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkreOdpovedAbstractType" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Definice společné odchozí zprávy pro všechny odpovědi na IKRE požadavky, předek.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ikrmsg:IkrOdpovedAbstractType">
                <xs:sequence>
                    <xs:element name="OdpovedHlavicka" type="IkreOdpovedHlavickaType">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Definice hlavičky odpovědi na příchozí zprávu.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ikrmsg:AplikacniStatus">
                        <xs:annotation>
                            <xs:documentation>Aplikační status provedení požadované operace (volání webové služby).</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkreAnonymniPozadavekAbstractType" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Definice společné příchozí zprávy pro všechny anonymní IKRE požadavky, předek.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ikrmsg:IkrPozadavekAbstractType">
                <xs:sequence>
                    <xs:element name="PozadavekHlavicka" type="IkreAnonymniPozadavekHlavickaType">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Definice anonymní hlavičky požadavku (příchozí zprávy).</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkreAnonymniOdpovedAbstractType" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Definice společné odchozí zprávy pro všechny odpovědi na anonymní IKRE požadavky, předek.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ikrmsg:IkrOdpovedAbstractType">
                <xs:sequence>
                    <xs:element name="OdpovedHlavicka" type="IkreAnonymniOdpovedHlavickaType">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Definice hlavičky odpovědi na příchozí zprávu.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="ikrmsg:AplikacniStatus">
                        <xs:annotation>
                            <xs:documentation>Aplikační status provedení požadované operace (volání webové služby).</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkreZadostPozadavekAbstractType" abstract="true">
        <xs:annotation>
            <xs:documentation>Definice společné příchozí zprávy pro všechny IKRE žádosti, předek.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ikrmsg:IkrPozadavekAbstractType">
                <xs:sequence>
                    <xs:element name="PozadavekHlavicka" type="IkreZadostPozadavekHlavickaType">
                        <xs:annotation>
                            <xs:documentation>Definice hlavičky žádosti.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="KodSluzbyType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Kód služby, řetězec obsahující max. 100 znaků.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="ikrmsg:IdentifikatorType">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="KodIkreSluzbyType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Kód externí služby, výčtový typ všech externích služeb IKR.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="ikrmsg:IdentifikatorType">
            <xs:enumeration value="IkreChybaPrihlaseniIsds"/>
            <xs:enumeration value="IkrePripravBezdluznost"/>
            <xs:enumeration value="IkrePripravBezdluznostFO"/>
            <xs:enumeration value="IkrePripravBezdluznostPO"/>
            <xs:enumeration value="IkrePripravIOLDP"/>
            <xs:enumeration value="IkrePripravPosudekOZdravotnimStavu"/>
            <xs:enumeration value="IkrePripravPotvrzeniND"/>
            <xs:enumeration value="IkrePripravPotvrzeniPN"/>
            <xs:enumeration value="IkrePripravVymerovaciZakladDPOSVC"/>
            <xs:enumeration value="IkrePripravVymerovaciZakladNP"/>
            <xs:enumeration value="IkreVratAdresuPojistence"/>
            <xs:enumeration value="IkreVratAdresuZamestnavatele"/>
            <xs:enumeration value="IkreVratCelyCiselnik"/>
            <xs:enumeration value="IkreVratFiltrovanyCiselnik"/>
            <xs:enumeration value="IkreVratInfoOPojistenciESF"/>
            <xs:enumeration value="IkreVratInfoOPojistencichESF"/>
            <xs:enumeration value="IkreVratOSSZDleAdresyPojistence"/>
            <xs:enumeration value="IkreVratOSSZDleAdresyZamestnavatele"/>
            <xs:enumeration value="IkreVratOSSZDleIdZamestnavatele"/>
            <xs:enumeration value="IkreVratOSSZDleOSVCIdPojistence"/>
            <xs:enumeration value="IkreVratOSSZDleOSVCPojistence"/>
            <xs:enumeration value="IkreVratOSSZDleParametruZamestnavatele"/>
            <xs:enumeration value="IkreVratOSSZDleVSUctarny"/>
            <xs:enumeration value="IkreVratOSSZDleZamestnavateleIdPojistence"/>
            <xs:enumeration value="IkreVratOSSZDleZamestnavatelePojistence"/>
            <xs:enumeration value="IkreVratOSSZPojistenceDUCH"/>
            <xs:enumeration value="IkreVratOSSZPojistenceNEM"/>
            <xs:enumeration value="IkreVratPojistenceDleId"/>
            <xs:enumeration value="IkreVratPojistenceDleDS"/>
            <xs:enumeration value="IkreVratPojistenceDleRC"/>
            <xs:enumeration value="IkreVratPrihlasenehoUzivatele"/>
            <xs:enumeration value="IkreVratSrovnavaciInfoOPojistencichESF"/>
            <xs:enumeration value="IkreVytvorSrovnavaciInfoOPojistencichESF"/>
            <xs:enumeration value="IkreVratVysiDruhDuchodu"/>
            <xs:enumeration value="IkreVratZamestnavateleDleId"/>
            <xs:enumeration value="IkreVratZamestnavateleDleDS"/>
            <xs:enumeration value="IkreVratZamestnavateleDleICO"/>
            <xs:enumeration value="IkreVratZamestnavateleDleVS"/>
            <xs:enumeration value="IkreVyhledejPojistence"/>
            <xs:enumeration value="IkreVyhledejPojistenceNeurcite"/>
            <xs:enumeration value="IkreVyhledejUctarnu"/>
            <xs:enumeration value="IkreVyhledejZamestnavatele"/>
            <xs:enumeration value="IkreVyplaceneDavkyProPojistence"/>
            <xs:enumeration value="IkreZobrazDetailELDP"/>
            <xs:enumeration value="IkreZobrazDobuPojisteni"/>
            <xs:enumeration value="IkreZobrazDruhVyseND"/>
            <xs:enumeration value="IkreZobrazDruhVyseNDPojistence"/>
            <xs:enumeration value="IkreZobrazELDP"/>
            <xs:enumeration value="IkreZobrazInventuruOSVC"/>
            <xs:enumeration value="IkreZobrazIOLDP"/>
            <xs:enumeration value="IkreZobrazNarokDavkyPPM"/>
            <xs:enumeration value="IkreZobrazPojistneVztahy"/>
            <xs:enumeration value="IkreZobrazSeznamPN"/>
            <xs:enumeration value="IkreZobrazSeznamPNPojistence"/>
            <xs:enumeration value="IkreZobrazSeznamZamestnancu"/>
            <xs:enumeration value="IkreZobrazStavPohledavek"/>
            <xs:enumeration value="IkreZobrazStavPohledavekHromadne"/>
            <xs:enumeration value="IkreZobrazStavPohledavekFO"/>
            <xs:enumeration value="IkreZobrazStavPohledavekFOHromadne"/>
            <xs:enumeration value="IkreZobrazStavZadostiND"/>
            <xs:enumeration value="IkreZobrazStavZadostiNDPojistence"/>
            <xs:enumeration value="IkreZobrazVysiDruhDuchodu"/>
            <xs:enumeration value="IkreZobrazVysiDruhDuchoduHromadne"/> 
            <xs:enumeration value="IkreZobrazZamestnavatele"/>
            <xs:enumeration value="IkreZobrazZaplaceneNP"/>
            <xs:enumeration value="IkrePripravFormularovePodani"/>
            
            <xs:enumeration value="IkreVratDuchodovyVek"/>
            <xs:enumeration value="IkreVratCiselnikDob"/>
            <xs:enumeration value="IkreVratDobyInformativnihoVypoctu"/>
            <xs:enumeration value="IkreVratInformativniVypocet"/>
            
            <xs:enumeration value="IkreAktivujUcet"/>
            <xs:enumeration value="IkreAutentizujIdentitu"/>
            <xs:enumeration value="IkreOverBezpecnostniKod"/>
            <xs:enumeration value="IkreVratOsobuDleTokenu"/>
            <xs:enumeration value="IkreVratOsobuDleIdPojistence"/>
            <xs:enumeration value="IkreVratOsobuDleId"/>
            <xs:enumeration value="IkreVratOsobuDleLoginu"/>
            <xs:enumeration value="IkreVratOsobuDleDS"/>
            <xs:enumeration value="IkreVratOsobuDleEid"/>
            <xs:enumeration value="IkreVratOrganizaciDleId"/>
            <xs:enumeration value="IkreVratOrganizaciDleIdZamestnavatele"/>
            <xs:enumeration value="IkreVratOrganizaciDleDS"/>
            <xs:enumeration value="IkreVytvorOsobuDleDS"/>
            <xs:enumeration value="IkreVytvorNeztotoznenouOsobu"/>
            <xs:enumeration value="IkreVytvorOrganizaciDleDS"/>
            <xs:enumeration value="IkreVytvorOsobuDleEid"/>
            <xs:enumeration value="IkreVytvorZadost"/>
            <xs:enumeration value="IkreOdesliEmailSablona"/>
            <xs:enumeration value="IkreVratStavPocitadelNP"/>
            <xs:enumeration value="IkreVynulujPocitadlaNP"/>
            <xs:enumeration value="IkreZmenHeslo"/>
            <xs:enumeration value="IkreZmenOsobu"/>
            <xs:enumeration value="IkreZvysPocitadloNP"/>
            <xs:enumeration value="IkreCasOdhlasIdentitu"/>
            <xs:enumeration value="IkreVratVydavateleCertifikatu"/>
            <xs:enumeration value="IkreVytvorOrganizaciDleEid"/>
            <xs:enumeration value="IkreVratOrganizaciDleEid"/>
            <xs:enumeration value="IkreZrusPovereni"/>
            <xs:enumeration value="IkreZrusZastupovani"/>
            <xs:enumeration value="IkreZrusDelegovani"/>
            <xs:enumeration value="IkreZrusZmocneni"/>
            
            <xs:enumeration value="ePodani"/>
            <xs:enumeration value="ISDSDatovaZprava"/>
            <xs:enumeration value="pozadavekISDS"/>
            <xs:enumeration value="PortalovePodani"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IkreHlavickaAbstractType" abstract="true">
        <xs:annotation>
            <xs:documentation>Abstraktní definice IKRE hlavičky pro dotaz nebo odpověď.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="KodSluzby" type="KodSluzbyType">
                <xs:annotation>
                    <xs:documentation xml:lang="cs">Identifikace služby.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IkrePozadavekHlavickaType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Definice IKRE hlavičky požadavku (příchozí zprávy).</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="IkreHlavickaAbstractType">
                <xs:sequence>
                    <xs:element name="PozadavekInfo" type="ikrmsg:PozadavekInfoType">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Vstupní informace požadavku.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="KlientInfo" type="ikrmsg:KlientInfoType">
                        <xs:annotation>
                            <xs:documentation>Informace o autentizovaném klientovi. Klient může být fyzická osoba, právnická osoba, OSVČ nebo OVM.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ZastupovanyKlientInfo" type="ikrmsg:KlientInfoType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Informace o zastupovaném klientovi. Klient může být fyzická osoba, právnická osoba, OSVČ nebo OVM.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PredchoziPozadavekId" type="ikrbt:UUIDType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Identifikace prvotní zprávy pro asynchronní komunikaci.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkreZadostPozadavekHlavickaType">
        <xs:annotation>
            <xs:documentation>Definice IKRE hlavičky žádosti.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="IkrePozadavekHlavickaType">
                <xs:sequence>
                    <xs:element name="PozadavekId" type="ikrbt:UUIDType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Identifikace požadavku.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="JednotneEvidencniCislo" type="ikrbt:UUIDType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Jednotné evidenční číslo.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkreAnonymniPozadavekHlavickaType">
        <xs:annotation>
            <xs:documentation>Definice IKRE hlavičky pro anonymní požadavek (příchozí zprávu).</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="IkreHlavickaAbstractType">
                <xs:sequence>
                    <xs:element name="PozadavekInfo" type="ikrmsg:PozadavekInfoType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Vstupní informace požadavku.</xs:documentation>
                        </xs:annotation>
                    </xs:element>                      
                    <xs:element name="KlientInfo" type="ikrmsg:KlientInfoType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Informace o autentizovaném klientovi. Klient může být fyzická osoba, právnická osoba, OSVČ nebo OVM.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PredchoziPozadavekId" type="ikrbt:UUIDType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Identifikace prvotní zprávy pro asynchronní komunikaci.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="JednotneEvidencniCislo" type="ikrbt:UUIDType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Jednotné evidenční číslo.</xs:documentation>
                        </xs:annotation>
                    </xs:element>          
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkreOdpovedHlavickaType">
        <xs:annotation>
            <xs:documentation xml:lang="cs">Definice IKRE hlavičky odpovědi na příchozí zprávu.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="IkreHlavickaAbstractType">
                <xs:sequence>
                    <xs:element name="PozadavekInfo" type="ikrmsg:PozadavekInfoType">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Vstupní informace požadavku.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="KlientInfo" type="ikrmsg:KlientInfoType">
                        <xs:annotation>
                            <xs:documentation>Informace o autentizovaném klientovi. Klient může být fyzická osoba, právnická osoba, OSVČ nebo OVM.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ZastupovanyKlientInfo" type="ikrmsg:KlientInfoType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Informace o zastupovaném klientovi. Klient může být fyzická osoba, právnická osoba, OSVČ nebo OVM.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OdpovedInfo" type="ikrmsg:OdpovedInfoType">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Výstupní informace odpovědi.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="JednotneEvidencniCislo" type="ikrbt:UUIDType">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Jednotné evidenční číslo.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IkreAnonymniOdpovedHlavickaType">
        <xs:annotation>
            <xs:documentation>Definice IKRE hlavičky anonymní odpovědi na příchozí zprávu.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="IkreHlavickaAbstractType">
                <xs:sequence>                    
                    <xs:element name="PozadavekInfo" type="ikrmsg:PozadavekInfoType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Vstupní informace požadavku.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                     <xs:element name="KlientInfo" type="ikrmsg:KlientInfoType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Informace o autentizovaném klientovi. Klient může být fyzická osoba, právnická osoba, OSVČ nebo OVM.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OdpovedInfo" type="ikrmsg:OdpovedInfoType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Výstupní informace odpovědi.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="JednotneEvidencniCislo" type="ikrbt:UUIDType">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs">Jednotné evidenční číslo.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
